{% extends 'base.html.twig' %}

{% block title %}{{ eventDetail.title }}{% endblock %}

{% block body %}

    <article class="py-4">
        <header>
            <h2>{{ eventDetail.title }}</h2>
            <p>Créé le {{ eventDetail.createdAt|date('d/m/Y H:i') }}</p>
            <p>Catégorie : {{ eventDetail.category.name }}</p>
            <p class="mb-1">Par : {{ eventDetail.user.name }}</p>
        </header>
        <p class="mb-1">Le {{ eventDetail.startAt|date('d/m/Y H:i') }} à {{ eventDetail.address }}, {{ eventDetail.city }} {{ eventDetail.postalCode }}</p>
        {{ eventDetail.description }}
    </article>

    {% if app.user.name == eventDetail.user.name %}
        <nav>
            <a href="{{ path('app_event_update', {'id': eventDetail.id}) }}" class="btn btn-primary">Modifier l'évènement</a>
        </nav>
    {% endif %}

<h2>Espace commentaire</h2>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ form(form) }}
{% endif %}

    <ul class="list-unstyled">
        {% for comment in comments %}
            <li>
                <article>
                    <header>
                        <h4>{{ comment.user.name }}</h4>
                        <p>Créé le {{ comment.createdAt|date('d/m/Y H:i') }}</p>
                    </header>
                    {{ comment.content }}
                </article>
            </li>
        {% endfor %}
    </ul>

{% endblock %}