{% extends 'base.html.twig' %}

{% block title %}{{ eventDetail.title }}{% endblock %}

{% block body %}

    <div class="card m-3" style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title">
                <a href="{{ path('app_event_details', {'id': eventDetail.id}) }}">{{ eventDetail.title }}</a>
            </h3>
            <h6 class="card-subtitle mb-2 text-muted">
                <p class="mb-1">Créé le {{ eventDetail.createdAt|date('d/m/Y H:i') }}</p>
                <p class="mb-1">Par : {{ eventDetail.user.name }}</p>
                <p class="mb-1">Catégorie : {{ eventDetail.category.name }}</p>
                <p class="mb-1">Le {{ eventDetail.startAt|date('d/m/Y H:i') }} à {{ eventDetail.address }}, {{ eventDetail.city }} {{ eventDetail.postalCode }}</p>
            </h6>
            <p class="card-text h5">{{ eventDetail.description }}</p>      
        </div>
    </div>

    {% if app.user.name == eventDetail.user.name %}
        <nav>
            <a href="{{ path('app_event_update', {'id': eventDetail.id}) }}" class="btn btn-dark">Modifier l'évènement</a>
        </nav>
    {% endif %}

<h2 class="mt-4 mr-4 mb-4">Espace commentaire</h2>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ form(form) }}
{% endif %}

    <ul class="list-unstyled">
        {% for comment in comments %}
            <li>
                <article>
                    <header>
                        <h4>{{ comment.user.name }}</h4>
                        <p>Créé le {{ comment.createdAt|date('d/m/Y H:i') }}</p>
                    </header>
                    {{ comment.content }}
                </article>
            </li>
        {% endfor %}
    </ul>

{% endblock %}