{% extends 'base.html.twig' %}

{% block title %}Evenements{% endblock %}

{% block body %}

    <div>
        <h4>Évènements !</h4>
    </div>

    <nav>
        <a href="{{ path('app_event_create') }}" class="btn btn-dark">Créer un nouvel évènement</a>
    </nav>

    <div class="d-flex flex-wrap">
        {% for event in events %}
            <div class="card m-3" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('app_event_details', {'id': event.id}) }}">{{ event.title }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <p class="mb-1">Créé le {{ event.createdAt|date('d/m/Y H:i') }}</p>
                        <p class="mb-1">Par : {{ event.user.name }}</p>
                        <p class="mb-1">Catégorie : {{ event.category.name }}</p>
                        <p class="mb-1">Le {{ event.startAt|date('d/m/Y H:i') }} à {{ event.address }}, {{ event.city }} {{ event.postalCode }}</p>
                    </h6>
                    <p class="card-text">{{ event.description }}</p>      
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
